.cursor-default {
  cursor: default !important
}

.sidebar.transition {
  transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -webkit-transition: width .2s
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.progress-form>.progress-form-step {
  padding: 0;
  position: relative;
}

.progress-form>.progress-form-step>.progress-form-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: var(--primary);
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.progress-form>.progress-form-step>.progress-form-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: var(--light);
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.progress-form>.progress-form-step>.progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.progress-form>.progress-form-step>.progress>.progress-bar {
  width: 0px;
  box-shadow: none;
  background: var(--primary);
}

.progress-form>.progress-form-step.complete>.progress>.progress-bar {
  width: 100%;
  transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -webkit-transition: width .2s
}

.progress-form>.progress-form-step.active>.progress>.progress-bar {
  width: 50%;
  transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -webkit-transition: width .2s
}

.progress-form>.progress-form-step:first-child.active>.progress>.progress-bar {
  width: 0%;
  transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -webkit-transition: width .2s
}

.progress-form>.progress-form-step:last-child.active>.progress>.progress-bar {
  width: 100%;
  transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -webkit-transition: width .2s
}

.progress-form>.progress-form-step.disabled>.progress-form-dot {
  background-color: #eaecf4;
}

.progress-form>.progress-form-step.disabled>.progress-form-dot:after {
  opacity: 0;
}

.progress-form>.progress-form-step:first-child>.progress {
  left: 50%;
  width: 50%;
  transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -webkit-transition: width .2s
}

.progress-form>.progress-form-step:last-child>.progress {
  width: 50%;
  transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -webkit-transition: width .2s
}

.progress-form>.progress-form-step.disabled a.progress-form-dot {
  pointer-events: none;
}