.cursor-default {
  cursor: default !important
}

.sidebar.transition {
  transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -webkit-transition: width .2s
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}