#divBg {
  background-image: linear-gradient(to bottom right, rgba(23, 77, 57, 0.6), rgba(23, 77, 57, 0.6)), url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#divLogin {
  border-width: medium !important;
  box-shadow: 0 1rem 3rem solid var(--primary) !important;
  margin-top: 100px;
  display: none;
}
