#divBg {
  background-image: linear-gradient(to bottom right, rgba(47, 135, 222, 0.5), rgba(0, 163, 165, 0.5)), url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#divLogin {
  border-width: medium !important;
  box-shadow: 0 1rem 3rem solid var(--primary) !important;
  margin-top: 100px;
  display: none;
}